<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-5">
            <h2 class="h5 mb-0">Potential Fraudulent Transactions Detected</h2>
        </div>
        <div class="list list-row card">
            <div class="row">
                <div class="col-md-6">
                    <div *ngFor="let txID of fraudList" class="list-item">
                        <div><a><span class="w-40 avatar gd-danger text-sm">100%</span></a></div>
                        <div class="flex"><a class="item-author text-color" id="tx-id">{{ txID }}</a>
                            <div class="item-except text-muted text-sm h-1x">Track: <span (click)="navigateToGraph(txID)">Origins</span><span (click)="navigateToGraph(txID)">Destinations</span></div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-sm d-none d-md-block">an hour ago</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--
                    <div *ngFor="let txID of fraudList" class="list-item">
                        <div><a><span class="w-40 avatar gd-danger text-sm">100%</span></a></div>
                        <div class="flex"><a class="item-author text-color" id="tx-id">{{ txID }}</a>
                            <div class="item-except text-muted text-sm h-1x">Track: <span (click)="navigateToGraph(txID)">Origins</span><span (click)="navigateToGraph(txID)">Destinations</span></div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-sm d-none d-md-block">an hour ago</div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>