<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-5">
            <h2 class="h5 mb-0">Potential Fraudulent Transactions Detected</h2>
        </div>
        <div class="list list-row card">
            <div class="row">
                <div class="col-md-6">
                    <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]; let idx = index" class="list-item" (click)="navigateToDetail()">
                        <div><a><span class="w-40 avatar gd-danger">F</span></a></div>
                        <div class="flex"><a class="item-author text-color" id="tx-id">a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d</a>
                            <div class="item-except text-muted text-sm h-1x">Total Received: 800 | Total Sent: 300</div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-sm d-none d-md-block">an hour ago</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]; let idx = index" class="list-item" (click)="navigateToDetail()">
                        <div><a><span class="w-40 avatar gd-danger">F</span></a></div>
                        <div class="flex"><a class="item-author text-color" id="tx-id">a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d</a>
                            <div class="item-except text-muted text-sm h-1x">Total Received: 304 | Total Sent: 105</div>
                        </div>
                        <div class="no-wrap">
                            <div class="item-date text-sm d-none d-md-block">2 hours ago</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
