// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --theme-bg-color: rgb(2,22,46);
    --theme-txt-color: #fff;
    --content-bg-color: rgb(0,28,58);
    --secondary-color: rgb(242,169,0);
}
