<div class="search-bar-container">
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Search Transaction or Address..." [(ngModel)]="searchQuery" [ngClass]="{ 'invalid-input': showErrorMessage }">
    <button class="search-button" (click)="search()">
      <i class="fas fa-location-arrow"></i>
    </button>
  </div>

  <div class="error-message" *ngIf="showErrorMessage">
    {{ searchErrorMessage }}
  </div>

  <div class="search-status" *ngIf="showStatusMessage">
    {{ searchStatusMessage }} <mat-spinner [diameter]="20"></mat-spinner>
  </div>

  <div class="success-message" *ngIf="showSuccessMessage">
    {{ searchSuccessMessage }}
  </div>
</div>

<div class="legend">
  <h5>Node Legend</h5>
  <div class="legend-item">
    <div class="utxo-node"></div>
    <div class="legend-text">Unspent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="stxo-node"></div>
    <div class="legend-text">Spent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="cluster-node"></div>
    <div class="legend-text">Group</div>
  </div>
  <div class="legend-item">
    <div class="transaction-node"></div>
    <div class="legend-text">Transaction</div>
  </div>
</div>

<div id="graphContainer"></div>

<div id="transaction-detail" class="transaction-detail">
    <div class="transaction-detail-content">
      <p>More transaction info</p>
      <button (click)="closeTransactionDetailPopover()" id="closeTransactionDetail">Close</button>
    </div>
</div>
