<div class="legend">
  <h5>Node Legend</h5>
  <div class="legend-item">
    <div class="utxo-node"></div>
    <div class="legend-text">Unspent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="stxo-node"></div>
    <div class="legend-text">Spent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="cluster-node"></div>
    <div class="legend-text">Group</div>
  </div>
  <div class="legend-item">
    <div class="transaction-node"></div>
    <div class="legend-text">Transaction</div>
  </div>
</div>

<div id="graphContainer"></div>

<div id="transaction-detail" class="transaction-detail">
    <div class="transaction-detail-content">
      
      <p>More transaction info</p>
      <button (click)="closeTransactionDetailPopover()" id="closeTransactionDetail">Close</button>
    </div>
</div>