.transaction-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--content-bg-color);
    padding: 20px;
    width: 80%;   
    height: 80%;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0px 8px 10px rgba(255, 255, 255, 0.14);
}

.transaction-detail-content {
    background-color: var(--content-bg-color);
    width: 100%;
    height: 100%;
}

.transaction-detail.show {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.legend {
    position: fixed;
    top: 20px;
    right: 20px; /* Update left to right */
    background-color: var(--theme-bg-color);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000; /* Ensure the legend is on top of other elements */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-text {
    font-size: 10px;
    margin-left: 5px;
}

.utxo-node {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stxo-node {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cluster-node {
    width: 25px;
    height: 20px;
    background-color: var(--theme-bg-color);
    border: 1px solid cyan; 
}

.transaction-node {
    width: 20px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid var(--bitcoin-theme); 
}

.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.search-bar {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}
  
.search-button {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 8px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}  
  
.search-button i:hover {
    color: var(--bitcoin-theme);
}
  
.error-message {
    padding: 15px;
    margin-top: 10px;
    color: red;
}

.search-status {
    display: flex;
    padding: 15px;
    margin-top: 10px;
    mat-spinner circle {
        stroke: var(--bitcoin-theme);
    }
}

.success-message {
    padding: 15px;
    margin-top: 10px;
    color: greenyellow;
}

.invalid-input {
    border: 2px solid red;
}

@keyframes rotateColor {
    0% {
      stroke: #ffd900; /* Gold */
    }
    25% {
      stroke: none; /* Yellow */
    }
    50% {
      stroke: #ffe600; /* Amber */
    }
    75% {
      stroke: none; /* Gold */
    }
    100% {
      stroke: #f2ff00; /* Gold */
    }
}
  
  .highlighted-node {
    stroke-width: 10; /* Set the stroke width as needed */
    stroke: #ffd900;  /* Initial stroke color */
  
    /* Animation */
    animation: rotateColor 2s linear infinite;
  }