.card {
    background-color: var(--content-bg-color);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    #tx-col {
        margin-bottom: 1.5rem;
        span {
            float: right;
            margin-right: 3rem;
        }
    }
    #tx-list {
        width: 40vw;
        #tx-link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            #tx-id {
                max-width: 30vw;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            #tx-id:hover {
                text-decoration: underline;
            }
            #tx-amount {
                flex-shrink: 0;
                margin-left: 1rem;
              }
        }
    }
}
