<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-5">
            <h2 class="h5 mb-0">Transaction ID: a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d </h2>
        </div>
        <div class="row" style="min-height: 50vh; margin-bottom: 30px;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 id="tx-col">From<span>BTC</span></h5>
                            <div id="tx-list">
                                <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; let idx = index" id="tx-link">
                                    <a id="tx-id" (click)="navigateToTransaction()">a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d</a>
                                    <span id="tx-amount">{{ idx * 124 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h5 id="tx-col">To<span>BTC</span></h5>
                            <div id="tx-list">
                                <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; let idx = index" id="tx-link">
                                    <a id="tx-id" (click)="navigateToTransaction()">a1075db55d416d3ca199f55b6084e2115b9345e16c5cf302fc80e9d5fbf5d48d</a>
                                    <span id="tx-amount">{{ idx * 182 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col" style="margin-right: 30px;">
                <div class="card-body">
                    <h5>Origin</h5>
                    <button (click)="navigateToGraph()">Visualise</button>
                </div>
            </div>
            <div class="card col" style="margin-left: 30px;">
                <div class="card-body">
                    <h5>Destination</h5>
                    <button (click)="navigateToGraph()">Visualise</button>
                </div>
            </div>
        </div>
    </div>
</div>
    