<div class="search-bar-container">
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Locate Transaction or Address..." [(ngModel)]="searchQuery" [ngClass]="{ 'invalid-input': showErrorMessage }">
    <button class="search-button" (click)="search()">
      <i class="fas fa-location-arrow"></i>
    </button>
  </div>

  <div class="message-container">
    <div class="error-msg" *ngIf="showErrorMessage">
      {{ searchErrorMessage }}
    </div>
  
    <div class="search-status" *ngIf="showStatusMessage">
      {{ searchStatusMessage }} <mat-spinner [diameter]="20"></mat-spinner>
    </div>
  
    <div class="success-msg" *ngIf="showSuccessMessage">
      {{ searchSuccessMessage }}
      <div class="search-results">
        <div *ngFor="let result of searchResult" class="search-result">
          {{ result.info }} <button *ngIf="result.isTransaction" class="path-button" (click)="getPath(result.id, result.side)">Get Path</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="legend">
  <h5>Node Legend</h5>
  <div class="legend-item">
    <div class="utxo-node"></div>
    <div class="legend-text">Unspent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="stxo-node"></div>
    <div class="legend-text">Spent Transaction Output</div>
  </div>
  <div class="legend-item">
    <div class="group-node"></div>
    <div class="legend-text">Group</div>
  </div>
  <div class="legend-item">
    <div class="transaction-node"></div>
    <div class="legend-text">Transaction</div>
  </div>
</div>

<div id="graphContainer"></div>

<div class="transaction-detail">
  <div class="detail-items" *ngFor="let item of transactionDetail | keyvalue">
    <p><strong>{{ item.key }}:</strong> {{ item.value }}</p>
  </div>
  <div class="no-transaction-selected" *ngIf="!transactionDetail">
    No Transaction Selected
  </div>
</div>
