#home{
    position: relative;
    padding-top: 10%;
    max-width: 50%;
    #web-name {
        color: var(--bitcoin-theme);
        font-weight: 1000;
    }
    mdb-form-control {
        width: 100%;
    }
    input {
        background-color: #fff;
    }
}

img {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30%;
    height: auto;
}