#home{
    position: relative;
    padding-top: 10%;
    max-width: 50%;
    margin: auto;
    h1 {
        color: var(--secondary-color);
        font-weight: 1000;
    }
    input {
        background-color: #fff;
    }
}

