<!--
<div *ngIf="graphLoading" class="graph-loading-spinner">
  <mat-spinner></mat-spinner>
</div>
-->

<mat-toolbar style="z-index: {{ sidenavOpened ? 1 : 10}}">
  <button class="sidenav-open" type="button" mat-icon-button (click)="sidenav.open(); sidenavOpened = !sidenavOpened">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav #sidenav mode="over" disableClose="true">
      <div class="row justify-content-end sidebar-top-buttons">
        <div style="display: flex; align-items: center; flex-direction: row-reverse; justify-content: flex-start;">
          <button class="sidenav-close" type="button" mat-icon-button (click)="sidenav.close(); sidenavOpened = !sidenavOpened">
            <mat-icon>close</mat-icon>
          </button>
          <div class="graph-switch">
            <input type="checkbox" id="graph-switcher" (click)="switchGraphType()">
            <label for="graph-switcher">
              <span class="normal-tree">N</span>
              <span class="radial-tree">R</span>
            </label>
          </div>
        </div>
      </div>  
      <div *ngIf="detailLoading" class="sidebar-loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!detailLoading">
        <div class='not-selected' *ngIf="!selectedTransactionData">
          <p><b>Click on a transaction to view its details</b></p>
        </div>
        <div class="row" *ngIf="selectedTransactionData">
          <div class="section-header">
            <p>Transaction Hash</p>
          </div>
          <p style="margin-left: 5%;"><b>{{selectedTransactionData.id}}</b></p>
          <div class="section-header">
            <p>Details</p>
          </div>
          <ul class="list-group" *ngIf="selectedTransactionData">
            <li class="list-group-item" *ngFor="let item of selectedTransactionData.data | keyvalue">
              <b>{{ item.key }}:</b> {{ item.value }}
            </li>
          </ul>
        </div>
      </div>
    </mat-sidenav>
    <div id="graphContainer" class="graph-container"></div>
</mat-sidenav-container>

